In [3]:
import pandas as pd

## Combining data sets

Key Differences:
1. Merge combines two DataFrames based on one or more common columns.
2. Concatenate appends DataFrames along a particular axis.
3. Join combines DataFrames based on their index values.

In [4]:
# example DataFrames
df1 = pd.DataFrame({
    'employee_id': [101, 102, 103],
    'name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'employee_id': [101, 103, 104],
    'department': ['HR', 'Engineering', 'Marketing']
})

df3 = pd.DataFrame({
    'name': ['David', 'Eva'],
    'department': ['Finance', 'HR']
})

df4 = pd.DataFrame({
    'salary': [70000, 80000, 60000]
})

# two with the same index
df5 = pd.DataFrame({
    'age': [25, 30, 22],
}, index=['Alice', 'Bob', 'Charlie'])

df6 = pd.DataFrame({
    'salary': [50000, 60000, 55000]
}, index=['Alice', 'Bob', 'Charlie'])

### Merging

Experiment with the difference the "how" parameter makes:

Your options: how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [5]:
print(df1)
print(df2)

   employee_id     name
0          101    Alice
1          102      Bob
2          103  Charlie
   employee_id   department
0          101           HR
1          103  Engineering
2          104    Marketing

In [11]:
# Merge on 'employee_id'
merged_df = pd.merge(df1, df2, on='employee_id', how = 'outer')
print("Merged DataFrame:")
merged_df

Merged DataFrame:

   employee_id     name   department
0          101    Alice           HR
1          102      Bob          NaN
2          103  Charlie  Engineering
3          104      NaN    Marketing

### Concatenating

In [12]:
print(df1)
print(df3)

   employee_id     name
0          101    Alice
1          102      Bob
2          103  Charlie
    name department
0  David    Finance
1    Eva         HR

In [13]:
# Concatenate two DataFrames along rows (axis=0)
concatenated_df = pd.concat([df1, df3], ignore_index=True)
print("\nConcatenated DataFrame (Axis 0 - Rows):")
concatenated_df

Concatenated DataFrame (Axis 0 - Rows):

   employee_id     name department
0        101.0    Alice        NaN
1        102.0      Bob        NaN
2        103.0  Charlie        NaN
3          NaN    David    Finance
4          NaN      Eva         HR

In [14]:
print(df1)
print(df4)

   employee_id     name
0          101    Alice
1          102      Bob
2          103  Charlie
   salary
0   70000
1   80000
2   60000

In [15]:
concatenated_columns_df = pd.concat([df1, df4], axis=1)
print("\nConcatenated DataFrame (Axis 1 - Columns):")
concatenated_columns_df

Concatenated DataFrame (Axis 1 - Columns):

   employee_id     name  salary
0          101    Alice   70000
1          102      Bob   80000
2          103  Charlie   60000

### Joining

In [16]:
print(df5)
print(df6)

         age
Alice     25
Bob       30
Charlie   22
         salary
Alice     50000
Bob       60000
Charlie   55000

In [17]:
# Join the two DataFrames
joined_df = df5.join(df6)
print("Joined DataFrame (Using Index):")
joined_df

Joined DataFrame (Using Index):

         age  salary
Alice     25   50000
Bob       30   60000
Charlie   22   55000

In [20]:
taxRecords = pd.DataFrame({
    'propertyId': ['001', '002', '192', '189', '182', '192'],
    'taxBr': [0.5, 0.5, 0.85, 0.85, 0.21, 0.5],
    'tax2025': [2300, 1922, 1982, 2210, 1009, 1892],
    'propValue': [250000, 295000, 580230, 495000, 905800, 358000]
})

demoRecords = pd.DataFrame({
    'propertyId': ['001', '002', '192', '189', '182', '192'],
    'ageAvg': [20, 21, 55, 92, 42, 48],
    'creditInfo': ['D', 'D', 'B', 'B', 'A', 'C'],
    'propValue': [250000, 295000, 580230, 495000, 905800, 358000]
})

In [23]:
print(pd.merge(taxRecords, demoRecords))
print(taxRecords.join(demoRecords))

  propertyId  taxBr  tax2025  propValue  ageAvg creditInfo
0        001   0.50     2300     250000      20          D
1        002   0.50     1922     295000      21          D
2        192   0.85     1982     580230      55          B
3        189   0.85     2210     495000      92          B
4        182   0.21     1009     905800      42          A
5        192   0.50     1892     358000      48          C

ValueError: columns overlap but no suffix specified: Index(['propertyId', 'propValue'], dtype='object')