## Merging

In [11]:
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    "isocode": ["USA", "FRA", "GER", "BRA"],
    "year": [2020, 2020, 2021, 2021],
    "chickens_per_capita": [25, 12, 18, 30]
})

# Second DataFrame
df2 = pd.DataFrame({
    "isocode": ["USA", "FRA", "ITA", "BRA"],
    "year": [2020, 2021, 2021, 2020],
    "dogs_per_capita": [15, 8, 20, 10],
    "share_univ_graduates": [0.40, 0.35, 0.25, 0.20]
})

print("df1:\n", df1)
print("\ndf2:\n", df2)

df1:
   isocode  year  chickens_per_capita
0     USA  2020                   25
1     FRA  2020                   12
2     GER  2021                   18
3     BRA  2021                   30

df2:
   isocode  year  dogs_per_capita  share_univ_graduates
0     USA  2020               15                  0.40
1     FRA  2021                8                  0.35
2     ITA  2021               20                  0.25
3     BRA  2020               10                  0.20

In [13]:
# Inner join: only rows with keys in both
inner = pd.merge(df1, df2, on=["isocode", "year"], how="inner")

# Outer join: all keys from both, missing values filled with NaN
outer = pd.merge(df1, df2, on=["isocode", "year"], how="outer")

# Left join: all keys from df1, matching data from df2
left = pd.merge(df1, df2, on=["isocode", "year"], how="left")

# Right join: all keys from df2, matching data from df1
right = pd.merge(df1, df2, on=["isocode", "year"], how="right")

Look at each of the newly generated merged dataframes. What rows "survive" in each merge?

  isocode  year  chickens_per_capita  dogs_per_capita  share_univ_graduates
0     USA  2020                 25.0               15                  0.40
1     FRA  2021                  NaN                8                  0.35
2     ITA  2021                  NaN               20                  0.25
3     BRA  2020                  NaN               10                  0.20